@media screen and (max-width: 760px) {
  .main-menu {
    cursor: pointer;
    width: 8%;
    flex-wrap: wrap;
    margin-right: 60px;
    &:before {
      content: '';
      border: 2px solid $white;
      border-color: $white transparent $white transparent;
      padding: 4px 0;
      width: 50px;
      height: 0;
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out;
    }
    &.active {
      &:before {
        transform: rotate(50deg);
        border-bottom: none;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out;
        padding: 0px;
      }
      .mobile-menu-part {
        transform: rotate(-50deg);
        padding: 0;
        margin-top: -2px;
      }
    }
    .mobile-menu-part {
      @extend .main-menu:before;
      border: none;
      border-top: 2px solid $white;
      margin-top: 8px;
    }
  }
  .items-container {
    opacity: 0;
    transition: all 1.3s ease-out;
    width: 100%;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 15px 60px 0 0;
    padding: 0;
    border-left: 1px solid #7b7b7c;
    .menu-item {
      font-size: 18px;
      padding: 5px 60px;
      background-color: #000;
      width: 100%;
      text-align: right;
      &:hover {
        font-size: 18px;
      }
    }
  }

  .active {
    display: flex;
    opacity: 1;
    -webkit-transition: all 1.3s ease-out;
    -moz-transition: all 1.3s ease-out;
    -ms-transition: all 1.3s ease-out;
    -o-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out;
  }
  .row {
    &.-nav {
      justify-content: space-between;
      padding-top: 30px;
    }
    .title {
      text-align: center;
    }
  }

  .logo {
    margin-left: 30px;
  }

  .bg-top-triangle {
    width: 100%;
    height: 297px;
    background-image: url(assets/public/images/top-triangle.png);
    background-size: 220% 80%;
  }

  .bg-bottom-triangle {
    padding-top: 180px;
    background-position: 43% 117%;
  }

  .main-content .gallery.-demo .item img {
    width: 180%;
    margin-left: -140px;
  }

  .contact-form {
    width: 100%;
    max-width: 400px;
    #message, #email {
      width: 96%;
    }
  }
}

@media screen and (max-width: 376px) {

  .logo {
    margin-left: 5px;
  }
  .main-menu {
    margin-right: 10px;
  }

  .items-container .menu-item {
    padding: 5px 56px 5px 14px;
  }

  .contact-form {
    width: 90%;
  }

}